@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #000; */
  background-color: #100505;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#main {
    @apply
     flex 
     min-h-screen 
     flex-col 
     items-center 
     justify-between 
     p-24
}
#header {
    @apply
        z-10 
        max-w-5xl 
        w-full 
        items-center 
        justify-between 
        font-mono 
        text-sm 
        md:flex
}
.card  {
    @apply 
        rounded-md 
        border 
        border-transparent 
        px-1 py-2 
        m-5
        transition-colors 
        hover:border-gray-300 
        hover:text-black
        hover:dark:border-white
}
.card_text{
    @apply
        mb-3
        text-2xl 
        font-semibold  
        hover:font-bold 
        text-white
}
#slogan{
    @apply 
        fixed 
        left-0 top-0 
        flex w-full 
        justify-center 
        border-b border-gray-300 
        from-zinc-200 
        pb-6 pt-8 
        backdrop-blur-2xl 
        dark:border-neutral-800 
        dark:bg-zinc-50/30   
        dark:from-inherit 
        md:static md:w-auto  md:rounded-xl md:border 
        md:bg-gray-200
        md:p-4 
        md:dark:bg-zinc-50/30
}
#logo {
    @apply
        fixed 
        bottom-0 left-0 
        flex h-48 w-full 
        items-end justify-center  
        from-white via-white 
        dark:from-black dark:via-black 
        md:static md:h-auto md:w-auto md:bg-none
}
#logo_middle{
    @apply
        relative 
        flex place-items-center 
        before:absolute 
        before:h-[200px] 
        before:w-[400px] 
        before:rounded-full  
        before:from-white 
        before:to-transparent 
        before:blur-2xl 
        before:content-[''] 
        before:md:h-[400px] z-[-1]
        before:dark:bg-gradient-to-br 
        before:dark:from-transparent 
        before:dark:to-[#8b4513] 
        before:dark:opacity-90

}
