<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blogs</title>
    <link href="../static/css/output.css" rel="stylesheet">
</head>

<body>
    <div>
        <h1 class="font-mono blog_h text-center text-2xl ">Blog</h1>
        <ul>
        </ul>
    </div>
</body>

</html>
<!-- <div class="mx-10 text-4xl"> -->
<!--     <List head="Maths" l1="Trigonometry" l2="complex nums"></List> -->
<!--     <List head="Physics" l1="" l2=""></List> -->
<!--     <List -->
<!--         head="Programming" -->
<!--         l1="functional programming" -->
<!--         l2="haskell" -->
<!--         l3="python" -->
<!--     ></List> -->
<!--     <List head="History" l1=""></List> -->
<!-- </div> -->
