<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Home page </title>
    <link rel="stylesheet" href="/static/css/home.css">
    <script src="/static/lib/htmx.min.js"></script>
</head>

<body>
    <div>
        <main id="main">

            <div class="z-10 max-w-5xl w-full items-center justify-between font-mono text-sm md:flex">
                <p id="slogan">
                    Learn while having fun
                </p>
                <div id="logo">
                    <img src="/static/images/logo.svg" width="100" height="100" class="invert"> </img>
                </div>
            </div>

            <div id="logo_middle">
                <img src="/static/images/logo.svg" width="400" height="100" class="invert"> </img>
            </div>

            <div class="mb-32 grid text-center md:max-w-5xl md:w-full md:mb-0 md:grid-cols-4 md:text-left">
                <a href="/blogs">
                    <div class="card">
                        <h2 class="card_text">
                            Blogs
                        </h2>
                        <p class="m-0 max-w-[30ch] text-sm opacity-50 text-white ">
                            See all our blogs and notes
                        </p>
                    </div>
                </a>

                <div class="card">
                    <a href="https://github.com/fit-s-u-m/website" target="_blank" rel="noopener noreferrer">
                        <h2 class="card_text">
                            Github
                        </h2>
                        <p class="m-0 max-w-[30ch] text-sm text-white opacity-50 ">
                            contribute to our open source projects.
                        </p>
                    </a>
                </div>

                <a href="/about">
                    <div class="card">
                        <h2 class="card_text">
                            About
                        </h2>
                        <p class="m-0 max-w-[30ch] text-sm opacity-50 text-white ">
                            learn more about Nehemiah
                        </p>
                    </div>
                </a>

                <a href="/contacts">
                    <div class="card">
                        <h2 class="card_text">
                            Contacts
                        </h2>
                        <p class="m-0 max-w-[30ch] text-sm opacity-50 text-white">
                            how to reach us
                        </p>
                    </div>
                </a>

                <a href="/register">
                    <div class="card" href="/register">
                        <h2 class="card_text">
                            Register
                        </h2>
                        <p class="m-0 max-w-[30ch] text-sm opacity-50 text-white">
                            how to reach us
                        </p>
                    </div>
                </a>

            </div>
        </main>
    </div>


</body>

</html>
